- var dist = '/';
- var assets = dist + 'assets';
- var images = assets + '/images';
- var styles = assets + '/styles';
- var scripts = assets + '/scripts';
- var protocol = 'https://';
- var domain = 'thirozumi.org';
- var canonical = protocol + domain + dist;
- var fb_app_id = '';

block head
  - var lang = '';
  - var locale = '';
  - var title = '';
  - var description = '';
  - var canonical = '';
  - var og_img = '';

doctype
html(lang=lang)
  head
    title=title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property='og:url', content=canonical)
    meta(property='og:type', content='website')
    meta(property='og:title', content=title)
    meta(property='og:image', content=protocol + domain + images + '/' + og_img)
    meta(property='og:description', content=description)
    meta(property='og:site_name', content=title)
    meta(property='og:locale', content=locale)
    //- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup
    //- Open Graph: http://ogp.me/

    meta(name='twitter:card', content='summary_large_image')
    //- More info: https://dev.twitter.com/cards/getting-started
    //- Validate: https://dev.twitter.com/docs/cards/validation/validator

    //- link(rel='icon', href=images + '/favicon-16.png', sizes='16x16', type='image/png')
    //- link(rel='icon', href=images + '/favicon-32.png', sizes='32x32', type='image/png')
    //- link(rel='icon', href=images + '/favicon-48.png', sizes='48x48', type='image/png')
    //- link(rel='icon', href=images + '/favicon-64.png', sizes='64x64', type='image/png')
    link(rel='canonical', href=canonical)
    link(rel='stylesheet', href=styles + '/main.min.css')
  body
    block alert

    block main
      p Hello world!